html, body {
    background-color: white;
    height:100vh;
}

h1, h2 {
    font-weight: lighter;
}

p {
    font-weight: lighter;
}

i {
    padding-left: 10px;
    padding-right: 10px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.img-thumbnail {
    border: 0;
}

.sidebar-content {
    background-color: white;

    height:100vh;

    padding-top: 75px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;

    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.main-content {
    background-color: white;

    margin-top: 75px;
    margin-left: 75px;
    margin-right: 75px;

    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;

}

.profile-picture {
    padding-top: 25px;
    padding-bottom: 25px;
}
.info-box {
    padding-top: 25px;
}
.social-media {
    text-align: center;
    padding-top: 25px;
}

.icon-block {
    color: inherit;
}

.content-link {
}

.content-block {
    padding-top: 25px;
    padding-bottom: 25px;
}
