html, body {
    background-color: white;
    height:100vh;
}

h1, h2 {
    font-weight: lighter;
}

p {
    font-weight: lighter;
}

i {
    padding-left: 10px;
    padding-right: 10px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.img-thumbnail {
    border: 0;
}

.sidebar-content {
    background-color: white;

    height:100vh;

    padding-top: 75px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;

    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.main-content {
    background-color: white;

    margin-top: 75px;
    margin-left: 75px;
    margin-right: 75px;

    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;

}

.profile-picture {
    padding-top: 25px;
    padding-bottom: 25px;

    padding-left: 25px;
    padding-right: 25px;

/*    -webkit-filter: contrast(133%) brightness(111%) saturate(0%) grayscale(100%) invert(3%);
 *   filter: contrast(133%) brightness(111%) saturate(0%) grayscale(100%) invert(3%);
 */
}

.info-box {
    padding-top: 25px;
}

.social-media {
    text-align: center;
    padding-top: 25px;
}

.fa-github {
    color: #6e5494;
}

.fa-envelope {
    color: #ed9100;
}

.fa-linkedin-in {
    color: #0077B5;
}

.fa-gamepad {
    color: #50994f;
}

.fa-youtube {
    color: #ff0000;
}

.icon-block {
    color: inherit;
}

.content-link {
}

.content-block {
    padding-top: 25px;
    padding-bottom: 25px;
}

.index-item {
    color: inherit;
}
